{% extends 'base.html' %}
{% load static %}

{% block title %}Pricer de Stratégies Optionnelles{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Pricer de Stratégies Optionnelles</h1>
    <p class="text-center">Choisissez une stratégie d'options et remplissez les champs nécessaires pour calculer le prix.</p>
    
    <form id="strategy-form" 
        data-straddle-options='{{ straddle_options|safe }}'
        data-bull-spread-options='{{ bull_spread_options|safe }}'
        data-bear-spread-options='{{ bear_spread_options|safe }}'
        data-butterfly-spread-options='{{ butterfly_spread_options|safe }}'
        data-condor-spread-options='{{ condor_spread_options|safe }}'
        data-calendar-spread-options='{{ calendar_spread_options|safe }}'>
        
        <div class="row mb-3">
            <label class="form-label">Choisissez une Stratégie</label>
            <div class="btn-group" role="group">
                <input type="radio" class="btn-check" id="straddle" name="strategy_type" value="straddle" checked>
                <label class="btn btn-outline-primary" for="straddle">Straddle</label>
                
                <input type="radio" class="btn-check" id="strangle" name="strategy_type" value="strangle">
                <label class="btn btn-outline-primary" for="strangle">Strangle</label>

                <input type="radio" class="btn-check" id="bull_spread" name="strategy_type" value="bull_spread">
                <label class="btn btn-outline-primary" for="bull_spread">Bull Spread</label>
                
                <input type="radio" class="btn-check" id="bear_spread" name="strategy_type" value="bear_spread">
                <label class="btn btn-outline-primary" for="bear_spread">Bear Spread</label>
                
                <input type="radio" class="btn-check" id="butterfly_spread" name="strategy_type" value="butterfly_spread">
                <label class="btn btn-outline-primary" for="butterfly_spread">Butterfly Spread</label>

                <input type="radio" class="btn-check" id="condor_spread" name="strategy_type" value="condor_spread">
                <label class="btn btn-outline-primary" for="condor_spread">Condor Spread</label>

                <input type="radio" class="btn-check" id="strip" name="strategy_type" value="strip">
                <label class="btn btn-outline-primary" for="strip">Strip</label>
                
                <input type="radio" class="btn-check" id="strap" name="strategy_type" value="strap">
                <label class="btn btn-outline-primary" for="strap">Strap</label>

                <!-- <input type="radio" class="btn-check" id="collar_spread" name="strategy_type" value="collar_spread">
                <label class="btn btn-outline-primary" for="collar_spread">Collar Spread</label> -->
                
                <input type="radio" class="btn-check" id="calendar_spread" name="strategy_type" value="calendar_spread">
                <label class="btn btn-outline-primary" for="calendar_spread">Calendar Spread</label>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="ticker" class="form-label">Ticker</label>
                <select class="form-select" id="ticker" name="ticker" required>
                    {% for ticker in tickers %}
                    <option value="{{ ticker }}">{{ ticker }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="ticker-price" class="form-label">Prix du Ticker</label>
                <input type="text" class="form-control" id="ticker-price" name="ticker-price" readonly>
            </div>
        </div>

        <!-- Strike(s) - Champs dynamiques selon la stratégie -->
        <div id="strike-fields-container">
            <div class="row mb-3">
                <label for="strike" class="form-label">Strike</label>
                <input type="number" class="form-control" id="strike" name="strike" value="100" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="maturity" class="form-label">Maturité (années)</label>
                <input type="number" class="form-control" id="maturity" name="maturity" value="1" required>
            </div>
            <<div class="col-md-4 mb-3">
                <label for="maturity_calendar" class="form-label" id="label-maturity-calendar">Maturité Far Calendar</label>
                <input type="number" class="form-control" id="maturity_calendar" name="maturity_calendar" value="2">
            </div>
            <div class="mb-3">
                <label for="vol_type" class="form-label">Type de Volatilité</label>
                <select class="form-select" id="vol_type" name="vol_type" required>
                    {% for vol in vol_types %}
                    <option value="{{ vol.value }}">{{ vol.label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="nb_paths" class="form-label">Nombre de Paths MC</label>
                <input type="number" class="form-control" id="nb_paths" name="nb_paths" value="10000" required>
            </div>
        </div>

        <div class="mb-3" id="barrier-fields" style="display: none;">
            <label for="barrier" class="form-label">Barrière</label>
            <input type="number" class="form-control" id="barrier" name="barrier">
        </div>

        <button type="submit" class="btn btn-success w-100">Calculer le Prix</button>
    </form>

    <div id="loading-spinner" style="display: none; text-align: center; margin-top: 20px;">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
        <p>Calcul en cours...</p>
    </div>

    <div id="strategy-result-container" class="mt-4 text-center" style="display: none;">
        <h2>Résultats</h2>
        <p><strong>Prix Calculé :</strong></p>
        <p id="strategy-price" class="fs-2 fw-bold">-</p>
        <h3>Grecs de l'Option</h3>
        <table class="table table-bordered" id="greeks-table" style="margin: 0 auto; width: 50%; display: none;">
            <thead>
                <tr>
                    <th>Grecs</th>
                    <th>Valeur</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Delta</td><td id="delta">-</td></tr>
                <tr><td>Gamma</td><td id="gamma">-</td></tr>
                <tr><td>Vega</td><td id="vega">-</td></tr>
                <tr><td>Theta</td><td id="theta">-</td></tr>
                <tr><td>Rho</td><td id="rho">-</td></tr>
            </tbody>
        </table>
        <br>
        <h3>Graphique du Payoff</h3>
        <div id="chart-container" style="display: flex; justify-content: center; margin-top: 20px;">
            <canvas id="payoffChartStrategy" width="800" height="600"></canvas>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/strategy_pricer.js' %}"></script>
{% endblock %}
