{% extends 'base.html' %}
{% load static %}

{% block title %}Pricer d'Options{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Pricer d'Options</h1>
    <p class="text-center">Choisissez un type d'option et remplissez les champs nécessaires pour calculer le prix.</p>
    
    <form id="pricing-form"
        data-vanilla-options='{{ vanilla_options|safe }}'
        data-path-dependent-options='{{ path_dependent_options|safe }}'
        data-barrier-options='{{ barrier_options|safe }}'
        data-binary-options='{{ binary_options|safe }}'>
        <div class="row mb-3">
            <label class="form-label">Type d'Option</label>
            <div class="btn-group" role="group">
                <input type="radio" class="btn-check" id="vanilla" name="option_type" value="vanilla" checked>
                <label class="btn btn-outline-primary" for="vanilla">Vanille</label>
                
                <input type="radio" class="btn-check" id="path_dependent" name="option_type" value="path_dependent">
                <label class="btn btn-outline-primary" for="path_dependent">Path-Dependent</label>
                
                <input type="radio" class="btn-check" id="binary" name="option_type" value="binary">
                <label class="btn btn-outline-primary" for="binary">Binaire</label>
                
                <input type="radio" class="btn-check" id="barrier" name="option_type" value="barrier">
                <label class="btn btn-outline-primary" for="barrier">Barrière</label>
            </div>
        </div>

        <div class="mb-3" id="subtype-fields" style="display: none;">
            <label for="subtype" class="form-label">Sous-Type d'Option</label>
            <select class="form-select" id="subtype" name="subtype"></select>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="ticker" class="form-label">Ticker</label>
                <select class="form-select" id="ticker" name="ticker" required>
                    {% for ticker in tickers %}
                    <option value="{{ ticker }}">{{ ticker }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="ticker-price" class="form-label">Prix du Ticker</label>
                <input type="text" class="form-control" id="ticker-price" name="ticker-price" readonly>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="strike" class="form-label">Strike</label>
                <input type="number" class="form-control" id="strike" name="strike" value="100" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="maturity" class="form-label">Maturité (années)</label>
                <input type="number" class="form-control" id="maturity" name="maturity" value="1" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="nb_steps" class="form-label">Nombre de Steps</label>
                <input type="number" class="form-control" id="nb_steps" name="nb_steps" value="10000" required>
            </div>
        </div>
        <div class="mb-3" id="barrier-fields" style="display: none;">
            <label for="barrier" class="form-label">Barrière</label>
            <input type="number" class="form-control" id="barrier" name="barrier">
        </div>
        <!-- Champ de Coupon pour les options binaires -->
        <div class="mb-3" id="coupon-fields" style="display: none;">
            <label for="coupon" class="form-label">Coupon</label>
            <input type="number" class="form-control" id="coupon" name="coupon">
        </div>
        <div class="mb-3">
            <label for="vol_type" class="form-label">Type de Volatilité</label>
            <select class="form-select" id="vol_type" name="vol_type" required>
                {% for vol in vol_types %}
                <option value="{{ vol.value }}">{{ vol.label }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3" id="constant-vol-container" style="display: none;">
            <label for="constant_vol" class="form-label">Volatilité Constante</label>
            <input type="number" class="form-control" id="constant_vol" name="constant_vol" placeholder="0.2">
        </div>

        
        <button type="submit" class="btn btn-success w-100">Calculer le Prix</button>
    </form>
    <div id="loading-spinner" style="display: none; text-align: center; margin-top: 20px;">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
        <p>Calcul en cours...</p>
    </div>
    <div class="mt-4 text-center">
        <h2>Résultats</h2>
        <p><strong>Prix Calculé :</strong></p>
        <p id="option-price" class="fs-2 fw-bold">-</p>
        <h3>Grecs de l'Option</h3>
        <table class="table table-bordered" id="greeks-table" style="margin: 0 auto; width: 50%; display: none;">
            <thead>
                <tr>
                    <th>Grecs</th>
                    <th>Valeur</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Delta</td><td id="delta">-</td></tr>
                <tr><td>Gamma</td><td id="gamma">-</td></tr>
                <tr><td>Vega</td><td id="vega">-</td></tr>
                <tr><td>Theta</td><td id="theta">-</td></tr>
                <tr><td>Rho</td><td id="rho">-</td></tr>
            </tbody>
        </table>
        <br>
        <h3>Graphique du Payoff</h3>
        <br>
        <div id="chart-container" style="display: flex; justify-content: center; margin-top: 20px;">
            <canvas id="payoffChart" width="800" height="600"></canvas>
        </div>
    
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/pricer_options.js' %}"></script>
{% endblock %}
